/* khung */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/*top*/
.container {
    position: relative;
    width: 100%;
    max-width: 1000px;
    background: #fff;
    margin: 50px;
    box-shadow: 0 50px 75px rgba(0, 0, 0, 0.1);
    border-left: 50px solid #fff;
    border-right: 50px solid #fff;
}

.container .top {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 40px;
    padding-bottom: 0;
}

.container .top .imgBx {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.container .top .imgBx .box {
    position: relative;
    width: 70%;
    min-width: 200px;
    border-radius: 50%;
    overflow: hidden;
    aspect-ratio: 1;
}

.container .top .imgBx .box img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container .top .profileText {
    position: relative;
    padding: 40px;
    display: flex;
    align-items: center;
}

.container .top .profileText h3 {
    font-size: 3em;
    letter-spacing: 0.1em;
    line-height: 1.2em;
    font-weight: 600;
    color: #333;
}

.container .top .profileText h3 span {
    display: block;
    font-size: 0.5em;
    font-weight: 300;
    color: #3590d2;
    margin-top: 5px;
}

/*box*/
.container .contentBox {
    position: relative;
    min-height: 500px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    padding: 0 40px 40px;
}

.container .contentBox h3 {
    border-left: 4px solid #ff8bb3;
    padding-left: 10px;
    line-height: 1em;
    font-weight: 600;
    color: #333;
    letter-spacing: 0.1em;
    margin-bottom: 20px;
    margin-top: 50px;
}

/* ben trai */
.contentBox ul {
    position: relative;
    margin: 10px 0;
}

.contentBox ul li {
    list-style: none;
    margin: 25px 0;
    line-height: 1em;
    color: #333;
    cursor: pointer;
    display: flex;
}

.contentBox ul li ion-icon {
    font-size: 1.2em;
    margin-right: 10px;
    color: #3590d2;
}

/* Education*/
.container .contentBox ul.education li {
    flex-direction: column;
}

.container .contentBox ul.education li h5 {
    color: #3590d2;
    margin: 5px 0;
    font-size: 1.00em;  
    font-weight: 600;    
}

.container .contentBox ul.education li h4 {
    color: #333;
    font-weight: 500;
    margin: 5px 0;
    font-size: 0.9em;
    
}

.container .contentBox ul.education li h6 {
    color: #666;
    font-weight: 300;
    font-size: 0.9em;
    margin: 5px 0;
    line-height: 1.3em;  
}

/* Language */
.language li {
    display: flex;
    flex-direction: column;
}

.language li span {
    color: #333;
    font-size: 16px;
    font-weight: 500;
}

.language .percent {
    position: relative;
    width: 100%;
    background: #e3e3e3;
    height: 6px;
    margin-top: 15px;
    margin-bottom: 10px;
    display: block;
    overflow: hidden;
}

.language .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #3590d2;
}

/* Interest */
.container .contentBox ul.interest {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.container .contentBox ul.interest li {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.container .contentBox ul.interest li .icon {
    position: relative;
    width: 40px;
    height: 40px;
    background: #3590d2;
    color: #fff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .contentBox ul.interest li .icon ion-icon {
    color: #fff;
    margin-right: 0;
}

/* ben phai */
.rightSide {
    padding-left: 40px;
}

p {
    font-weight: 300;
    font-size: 14px;
    line-height: 1.5em;
    color: #333;
}

.about .box {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.about .box .year_company {
    min-width: 150px;
    margin-bottom: 10px;
}

.about .box .year_company h5 {
    color: #333;
    font-weight: 600;
    font-size: 1.00em;   /* tăng chữ */
    font-weight: 600;    /* đậm hơn */
}

.about .box .year_company h5:nth-child(1) {
    color: #3590d2;
}

.about .box .text h4 {
    color: #3590d2;
    font-size: 16px;
    margin: 0;
    line-height: 1.7em;  /* giãn thoáng hơn */
    margin-bottom: 10px; /* tách các đoạn */
}

/* pro & personal skills */
.about.skills .box {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 150px 1fr;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.about.skills .box h4 {
    color: #333;
    font-weight: 500;
    margin-bottom: 5px;
}

.about.skills .box .percent {
    position: relative;
    width: 100%;
    height: 10px;
    background: #e3e3e3;
}

.about.skills .box .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #3590d2;
}
